## Configuration ##
config.js

## MAC files ##
.DS_Store

## NPM ##
proxy/node_modules/
photos/node_modules/
reviews/node_modules/

## Compiled ##
photos/public/bundle.js
reviews/client/dist/bundle.js

## Test Coverage ##
photos/coverage/
