# node modules
node_modules/

#DS Store
.DS_Store

# bundle
client/dist/bundle.js

# fonts
client/dist/Proxima Nova Regular.ttf
client/dist/Engravers' Gothic BT.ttf

# database seeds
database/dresses.sql
database/photos.sql
database/users.sql
database/reviews.sql


